/**
 * This file contains site-specifc style overrides for Notion elements from
 * react-notion-x.
 * 
 * react-notion-x's goal is to match styling as close as possible to Notion,
 * whereas our goal with this site is to adjust Notion's styling in a few key
 * places to add some flare.
 */
 /* Hides certain elements */
.notion-title, .nav-header, .notion-header, .notion-page-cover, .notion-page-icon, .styles_footer__1r_c6 {
    display: none !important;
}

.notion-text.notion-brown_background {
    background: transparent;
    font-size: 20px;
    text-align: center;
}

.notion-text.notion-orange_background {
    background: transparent;
    font-size: 42px;
    text-align: center;
}

.notion-text.notion-red_background {
    background: transparent;
    font-size: 12px;
    text-align: center;
}

.notion-text.notion-gray_background {
    background: transparent;
    font-size: 38px;
    text-align: center;
}

.notion-callout.notion-purple_background_co {
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    justify-content: center;
}

.notion-callout.notion-purple_background_co .notion-page-icon {
    display: none;
}

.notion-callout.notion-purple_background_co .notion-callout-text {
    width: auto !important;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    transition: background 0.5s ease;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(136,144,195,0.2),0 5px 15px 0 rgba(37,44,97,0.15);
    background: #6940a5;
    color: #f3e5f5;
    margin-left: 0px;
}

.notion-callout.notion-purple_background_co a {
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    font-weight: 500;
}