/**
 * This file contains site-specifc style overrides for Notion elements from
 * react-notion-x.
 * 
 * react-notion-x's goal is to match styling as close as possible to Notion,
 * whereas our goal with this site is to adjust Notion's styling in a few key
 * places to add some flare.
 */
 /* Hides certain elements */
.notion-title, .nav-header, .notion-header, .notion-page-cover, .notion-page-icon, .styles_footer__1r_c6 {
    display: none !important;
}

.notion-text.notion-brown_background {
    background: transparent;
    font-size: 20px;
    text-align: center;
}

.notion-text.notion-orange_background {
    background: transparent;
    font-family: inherit;
    font-size: 42px;
    text-align: center;
}